apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    # Let's Encrypt staging endpoint (use for testing to avoid rate limits)
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    email: ops@ytsummarizer.dev
    privateKeySecretRef:
      name: letsencrypt-staging-key
    solvers:
      - http01:
          ingress:
            class: nginx
