# Preview overlay - updated by GitHub Actions
# PR: #68
# Image Tag: pr-68-91d36fe
# Commit: 91d36feb2c1524d86a783da7041b7f562ba60920
# Updated: 2026-01-20T10:44:10Z

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  annotations:
    config.kubernetes.io/local-config: "true"
namespace: preview-pr-68
resources:
  - ../../base-preview
  - resource-quota.yaml
  - limit-range.yaml
patches:
  - path: patches/externalsecret-db-patch.yaml
  - path: patches/externalsecret-openai-patch.yaml
  - path: patches/externalsecret-storage-patch.yaml
  - path: patches/configmap-patch.yaml
  - path: patches/api-deployment-patch.yaml
  - path: patches/httproute-patch.yaml
  - path: patches/resources-patch.yaml
  - path: patches/replicas-patch.yaml
  - path: patches/migration-job-patch.yaml
images:
  - 
    name: yt-summarizer-api
    newName: acrytsummprd.azurecr.io/yt-summarizer-api
    newTag: pr-68-91d36fe
  - 
    name: yt-summarizer-workers
    newName: acrytsummprd.azurecr.io/yt-summarizer-workers
    newTag: pr-68-91d36fe
