# Preview overlay - updated by GitHub Actions
# PR: #4
# Image Tag: pr-4-3a8adf0
# Commit: 3a8adf0861f5ed2efdf1af16973c1d0ad41a6947
# Updated: 2026-01-11T09:32:55Z

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  annotations:
    config.kubernetes.io/local-config: "true"
namespace: preview-pr-4
resources:
  - ../../base
  - resource-quota.yaml
  - limit-range.yaml
patches:
  - path: patches/externalsecret-db-patch.yaml
  - path: patches/externalsecret-openai-patch.yaml
  - path: patches/externalsecret-storage-patch.yaml
  - path: patches/secretstore-delete-patch.yaml
  - path: patches/configmap-patch.yaml
  - path: patches/ingress-patch.yaml
  - path: patches/resources-patch.yaml
  - path: patches/replicas-patch.yaml
  - path: patches/migration-job-patch.yaml
images:
  - 
    name: yt-summarizer-api
    newName: acrytsummprd.azurecr.io/yt-summarizer-api
    newTag: pr-4-3a8adf0
  - 
    name: yt-summarizer-workers
    newName: acrytsummprd.azurecr.io/yt-summarizer-workers
    newTag: pr-4-3a8adf0
