# Preview overlay - updated by GitHub Actions
# PR: #9
# Image Tag: latest
# Commit: 326a5a5314c8913c9527b0b315d8f1f05407363d
# Updated: 2026-01-12T03:19:37Z

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  annotations:
    config.kubernetes.io/local-config: "true"
namespace: preview-pr-9
resources:
  - ../../base-preview
  - resource-quota.yaml
  - limit-range.yaml
patches:
  - path: patches/externalsecret-db-patch.yaml
  - path: patches/externalsecret-openai-patch.yaml
  - path: patches/externalsecret-storage-patch.yaml
  - path: patches/configmap-patch.yaml
  - path: patches/api-deployment-patch.yaml
  - path: patches/ingress-delete-patch.yaml
  - path: patches/httproute-patch.yaml
  - path: patches/resources-patch.yaml
  - path: patches/replicas-patch.yaml
  - path: patches/migration-job-patch.yaml
images:
  - 
    name: yt-summarizer-api
    newName: acrytsummprd.azurecr.io/yt-summarizer-api
    newTag: latest
  - 
    name: yt-summarizer-workers
    newName: acrytsummprd.azurecr.io/yt-summarizer-workers
    newTag: latest
