# Preview overlay - updated by GitHub Actions
# PR: #123
# Image Tag: test
# Updated: 2026-01-10T13:32:47Z

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  annotations:
    config.kubernetes.io/local-config: "true"
namespace: preview-pr-123
resources:
  - ../../base
  - resource-quota.yaml
  - limit-range.yaml
patchesStrategicMerge:
  - patches/configmap-patch.yaml
  - patches/ingress-patch.yaml
  - patches/resources-patch.yaml
  - patches/replicas-patch.yaml
