# Preview overlay - updated by GitHub Actions
# PR: #64
# Image Tag: pr-64-39220c2
# Commit: 39220c23f3e7935fc6550089335ed39024423504
# Updated: 2026-01-20T09:58:32Z

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  annotations:
    config.kubernetes.io/local-config: "true"
namespace: preview-pr-64
resources:
  - ../../base-preview
  - resource-quota.yaml
  - limit-range.yaml
patches:
  - path: patches/externalsecret-db-patch.yaml
  - path: patches/externalsecret-openai-patch.yaml
  - path: patches/externalsecret-storage-patch.yaml
  - path: patches/configmap-patch.yaml
  - path: patches/api-deployment-patch.yaml
  - path: patches/httproute-patch.yaml
  - path: patches/resources-patch.yaml
  - path: patches/replicas-patch.yaml
  - path: patches/migration-job-patch.yaml
images:
  - 
    name: yt-summarizer-api
    newName: acrytsummprd.azurecr.io/yt-summarizer-api
    newTag: pr-64-39220c2
  - 
    name: yt-summarizer-workers
    newName: acrytsummprd.azurecr.io/yt-summarizer-workers
    newTag: pr-64-39220c2
