# Preview overlay - updated by GitHub Actions
# PR: #103
# Image Tag: pr-103-8fb2655
# Commit: 8fb2655f483ae044cfa244ec837674553596fe7e
# Updated: 2026-01-25T03:37:43Z

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  annotations:
    config.kubernetes.io/local-config: "true"
namespace: preview-pr-103
resources:
  - ../../base-preview
  - resource-quota.yaml
  - limit-range.yaml
patches:
  - path: patches/externalsecret-db-patch.yaml
  - path: patches/externalsecret-openai-patch.yaml
  - path: patches/externalsecret-storage-patch.yaml
  - path: patches/configmap-patch.yaml
  - path: patches/api-deployment-patch.yaml
  - path: patches/httproute-patch.yaml
  - path: patches/resources-patch.yaml
  - path: patches/replicas-patch.yaml
  - path: patches/migration-job-patch.yaml
images:
  - 
    name: yt-summarizer-api
    newName: acrytsummprd.azurecr.io/yt-summarizer-api
    newTag: pr-103-8fb2655
  - 
    name: yt-summarizer-workers
    newName: acrytsummprd.azurecr.io/yt-summarizer-workers
    newTag: pr-103-8fb2655
