# Preview overlay - updated by GitHub Actions
# PR: #105
# Image Tag: pr-105-78704d7
# Commit: 78704d755161f3c7e9b9f635503f7aeffa425966
# Updated: 2026-01-25T06:32:49Z

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  annotations:
    config.kubernetes.io/local-config: "true"
namespace: preview-pr-105
resources:
  - ../../base-preview
  - resource-quota.yaml
  - limit-range.yaml
patches:
  - path: patches/externalsecret-db-patch.yaml
  - path: patches/externalsecret-openai-patch.yaml
  - path: patches/externalsecret-storage-patch.yaml
  - path: patches/configmap-patch.yaml
  - path: patches/api-deployment-patch.yaml
  - path: patches/httproute-patch.yaml
  - path: patches/resources-patch.yaml
  - path: patches/replicas-patch.yaml
  - path: patches/migration-job-patch.yaml
images:
  - 
    name: yt-summarizer-api
    newName: acrytsummprd.azurecr.io/yt-summarizer-api
    newTag: pr-105-78704d7
  - 
    name: yt-summarizer-workers
    newName: acrytsummprd.azurecr.io/yt-summarizer-workers
    newTag: pr-105-78704d7
