# Preview overlay - updated by GitHub Actions
# PR: #4
# Image Tag: pr-4-afb9a26
# Updated: 2026-01-11T06:15:11Z
# Test change to trigger pipeline redeploy on K8s changes

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  annotations:
    config.kubernetes.io/local-config: "true"
namespace: preview-pr-4
resources:
  - ../../base
  - resource-quota.yaml
  - limit-range.yaml
patches:
  - path: patches/externalsecret-db-patch.yaml
  - path: patches/externalsecret-openai-patch.yaml
  - path: patches/externalsecret-storage-patch.yaml
  - path: patches/secretstore-delete-patch.yaml
  - path: patches/configmap-patch.yaml
  - path: patches/ingress-patch.yaml
  - path: patches/resources-patch.yaml
  - path: patches/replicas-patch.yaml
  - path: patches/migration-job-patch.yaml
