apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: storage-credentials
  namespace: yt-summarizer
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: azure-keyvault-cluster
